echo '' > ${renderedScriptPath}/exclude-from-sitemap

template__html_title='Unavailable'
template__get_part "${defaults__template}" 'top'

cat << EOF
	<h1 style="text-align: center;">Server error</h1>
EOF

template__get_part "${defaults__template}" 'bottom'
