# template resource for post module

# ignore if is one page only
if [ "${posts__counted_pages}" -gt '1' ]; then
	echo '<div id="pages">'
		local pageNumber
		for pageNumber in $(
			pageNumberString='1'
			while [ "${pageNumberString}" -le "${posts__counted_pages}" ]; do
				echo -n "${pageNumberString} "
				pageNumberString="$((pageNumberString+1))"
			done
			unset pageNumberString
		)
		do
			[ "${currentPageNumber}" = "${pageNumber}" ] && local pageNumberCurrent=' current-page'
			echo '<div class="page'"${pageNumberCurrent}"'"><a href="'"${defaults__url_prefix}/${posts__generated_page_directory}${pageNumber}"'">'"${pageNumber}"'</a></div>'
			unset pageNumberCurrent
		done
		unset pageNumber
	echo '</div>'
fi
