# write post content
cat << EOF
	<!-- you can apply post style via javascript -->
	<script>
		window.addEventListener('DOMContentLoaded', function(){
			var post=document.getElementsByClassName('post');
			for(var i=0; i<=post.length; i++)
				if((post[i].children[0].innerHTML == '${posts__post_tags}') && (post[i].children[1].innerHTML == '${posts__post_date}') && (post[i].children[2].innerHTML == '${posts__post_title}'))
				{
					// write your style
					post[i].style.background='rgba(255, 0, 0, 0.2)'; // post box
					post[i].children[0].style.color='#00aa00'; // tags
					post[i].children[1].style.color='#2a239c'; // date
					post[i].children[2].style.color='#0000ff'; // title

					break; // respect your visitor
				}
		});
	</script>

	<p style="text-align: center;">This is the sample post.</p>
	<p>
		Post directory name:
		<span style="font-weight: bold;">public_0000001_sample-post</span>,
		where <span style="font-weight: bold;">public</span> notices script that post is published
		<span style="font-weight: bold;">0000001</span> is queue number
		and <span style="font-weight: bold;">sample-post</span> is post url name.
	</p>
	<p>
		Tags: create <span style="font-weight: bold;">tags</span> directory in post's dir,
		and create empty file with tag name (without #).
	<p>
	<p>Click to the post title and check page source for <span style="font-weight: bold;">&lt;!-- this code will be displayed in this posts page header --&gt;</span></p>
EOF
