# import variables from certain modules
moduleConfig='pages posts posts-tags'
for moduleConfig in ${moduleConfig}; do [ -e "${SSG__database}/defaults.rc.d/${moduleConfig}.rc" ] && . "${SSG__database}/defaults.rc.d/${moduleConfig}.rc" || . "${SSG__modules}/${moduleConfig}/defaults.rc.d/${moduleConfig}.rc"; done; unset moduleConfig

# write menu links
cat << EOF
	<a class="headlink" href="${defaults__url_prefix}/">Home</a>
	<a class="headlink" href="${defaults__url_prefix}/${pages__generated_directory}sample-page">Sample page</a>
EOF

"${posts__no_first_page_mode}" && \
	echo "	<a class=\"headlink\" href=\"${defaults__url_prefix}/${posts__generated_page_directory}\">Posts</a>" || \
	echo "	<a class=\"headlink\" href=\"${defaults__url_prefix}/${posts__generated_page_directory}1\">Posts</a>"

cat << EOF
	<a class="headlink" href="${defaults__url_prefix}/${posts_tags__generated_directory}">Tags</a>
EOF
