# import variables from certain modules
module_config='pages posts posts-arch posts-tags'
for module_config in ${module_config}; do
	[ -e "${SSG__database}/defaults.rc.d/${module_config}.rc" ] && \
		. "${SSG__database}/defaults.rc.d/${module_config}.rc" || \
		. "${SSG__modules}/${module_config}/defaults.rc.d/${module_config}.rc"
done
unset 'module_config'

# write menu links
cat << EOF
	<a class="headlink" href="${defaults__url_prefix}/">Home</a>
	<a class="headlink" href="${defaults__url_prefix}/${pages__generated_directory}sample-page">Sample page</a>
EOF

"${posts__no_first_page_mode}" && \
	echo "<a class=\"headlink\" href=\"${defaults__url_prefix}/${posts__generated_page_directory}\">Posts</a>" || \
	echo "<a class=\"headlink\" href=\"${defaults__url_prefix}/${posts__generated_page_directory}1\">Posts</a>"

cat << EOF
	<a class="headlink" href="${defaults__url_prefix}/${posts_tags__generated_directory}">Tags</a>
	<a class="headlink" href="${defaults__url_prefix}/${posts_arch__generated_directory}">Archive</a>
EOF

# add link to RSS feed if posts-rss module is active
[ ! "${posts_rss__url}" = '' ] && echo "<a class=\"headlink\" href=\"${posts_rss__link}\">Feed</a>"
