# create an post-generate.rc.d directory and put your scripts there
# they will be included after the page is generated

for hook in ${SSG__database}/generate-hooks/post-generate.rc.d/*.rc; do
	[ "${hook}" = "${SSG__database}/generate-hooks/post-generate.rc.d/*.rc" ] && break
	echo "  -> ${hook##*/}"
	. "${hook}"
done
unset 'hook'
