/* default template - layout */
body {
	margin: 0;
	padding: 0;
	background-color: #000000;
	color: #ffffff;
}
a, a:hover, a:visited {
	color: #00ffff;
	text-decoration: none;
}
#page-content h1 {
	display: inline-block;
}

#header {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #ff0000;
}

#headlinks {
	position: absolute;
	text-align: center;
}
.headlink::after {
	content: '\A';
	white-space: pre;
}
#page-content {
	border-left: 1px solid #ff0000;
	overflow: auto;
}
#footer {
	border-top: 1px solid #ff0000;
}