# write all script names to be rendered

# render index.rc to default file (first page)
pages__render_script 'index.rc' "${defaults__default_file_name}${defaults__default_file_extension}"

# render index2.rc to default file in page-2 subdirectory (second page)
pages__render_script 'index2.rc' "${defaults__default_file_name}${defaults__default_file_extension}" 'page-2'

# render page-2/index.rc to default file in page-2 subdirectory (second page, another option)
#pages__render_script 'page-2/index.rc' "${defaults__default_file_name}${defaults__default_file_extension}"

# copy additional files or directories (pages__copy_file input-file-or-dir output-file-or-dir)
#pages__copy_file 'assets/square.css' 'square.css' # copy one file to generated/page/sample-page directory
#pages__copy_file 'assets' 'assets' # copy the whole directory to generated/page/sample-page

# you can replace the ${rendered_page_url} string with /page/sample-page in generated/page/sample-page/square.css
#script_path="$(echo -n "${entrypoint%/*}" | sed 's|'"${SSG__database}/${pages__dbdir}/"'||g')"
#sed -i 's|\${rendered_page_url}|'"${defaults__url_prefix}/${pages__generated_directory}${script_path%/*}"'|g' "${SSG__generated}/${pages__generated_directory}${script_path%/*}/square.css"
