# import shared resources from modules

for includeModule in ${SSG__modules}/*/include.rc; do
	[ "${includeModule}" = "${SSG__modules}/*/include.rc" ] && break
	. "${includeModule}"

	includeModuleDefaults="${includeModule%/*}"
	for includeModule in ${includeModuleDefaults}/defaults.rc.d/*.rc; do
		[ "${includeModule}" = "${includeModuleDefaults}/defaults.rc.d/*.rc" ] && break
		. "${includeModule}"
	done
done

unset 'includeModule'
unset 'includeModuleDefaults'
