echo '' > "${renderedScriptPath}/exclude-from-sitemap"

template__html_title="Forbidden - ${template__site_title}"
templates__current_get_part 'top'

cat << EOF
	<h1 style="text-align: center;">Access forbidden</h1>
EOF

templates__current_get_part 'bottom'
