/* desktop version */
#header {
	margin: 5px;
}
#headlinks {
	padding: 5px;
	width: 100px;
}
#page-content {
	margin-left: 115px;
	margin-bottom: 5px;
	padding-left: 10px;
	padding-bottom: 10px;
}
#footer {
	margin-left: 5px;
	margin-right: 5px;
}
