/* layout */
body {
	margin: 0;
	padding: 0;
}
a,
a:hover,
a:visited {
	text-decoration: none;
}
#page-main-box {
	overflow: auto;
}
#page-content h1 {
	display: inline-block;
}

#header {
	display: flex;
	justify-content: center;
	align-items: center;
}

#headlinks {
	position: absolute;
	text-align: center;
}
.headlink::after {
	content: '\A';
	white-space: pre;
}

#page-content {
	overflow: auto;
	overflow-wrap: break-word;
}
