echo '' > "${rendered_script_path}/exclude-from-sitemap"

template__html_title="Bad request - ${template__site_title}"
templates__current_get_part 'top'

cat << EOF
	<h1 style="text-align: center;">Bad request</h1>
EOF

templates__current_get_part 'bottom'
